.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.button {
  margin: 25px !important;
}
img {
  margin: 25px !important;
  /*height:10%  !important;*/
  flex: 0.05;
    aspectRatio: 1.21;
    resizeMode: 'contain';
}
.App-header {
  background-color: #4abdac; /*#edeff1;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dfdce3;/*rgb(24, 2, 2);*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.qchoice {
  background: #DDF;
  text-align: center;
  word-wrap: break-word;
  width: 150px; height: 150px;
}
.qselected {
  border-width: thick;
  border-color: red;
  border-style: solid;
  font-weight: bold;
}
